HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### not to be shared ###
!**/src/main/**/resources/keys/
/src/main/resources/firebase/firebaseservice.json
/docker/.env
/docker/.env.*
docker/nginx/certs/*
!docker/nginx/.env.example
!docker/nginx/certs/README.md


# Java / Gradle sensitive outputs
*.keystore
*.p12
*.pem
*.crt
*.key
*.cer